/*============================================ Шрифт для макета Figma============================================== */

@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Taviraj&display=swap");

/*============================================ Шрифт для Simpsons============================================== */

@font-face {
	font-family: "simpsonfont";
	src: url("../fonts/simpsonfont-webfont.woff2") format("woff2"),
		url("../fonts/simpsonfont-webfont.woff") format("woff");

	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

body {
	font-family: "simpsonfont";
	font-size: 20px;
	color: black;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

/* ===================================Title===========================================*/

.family {
	text-align: center;
}

.family-title {
	display: inline-block;
	margin-bottom: 20px;
	font-size: 40px;
	letter-spacing: 2px;
	line-height: 1.3;
}
.family-title::after {
	content: "";
	display: block;
	width: 160px;
	margin-top: -3px;
	height: 3px;
	background-color: #ff3300;
}

.header {
	width: 100%;
}

.header-block {
	text-align: left;
	color: yellow;
	text-shadow: -3px 10px 2px black;
	background: linear-gradient(180deg, rgba(131, 58, 180, 0) 0%, rgba(255, 255, 255, 1) 100%),
		url(../img/simpsons2.png) 80% -8px / 250px 230px no-repeat,
		linear-gradient(180deg, rgba(131, 58, 180, 0) 0%, rgba(255, 255, 255, 1) 100%),
		url(../img/sky.jpg) center no-repeat;
	padding: 20px;
	margin-bottom: 100px;
}

.header-text-block {
	display: inline-block;
}

.header-block::before {
	content: "";
	display: inline-block;
	margin-right: 50px;
	width: 200px;
	height: 100px;
}

.simps {
	font-size: 100px;
	display: inline-block;
	margin-right: -15px;
}

.simps:hover::after {
	content: "";
	display: inline-block;
	background: url(../img/donut.-smallpng.png) 0 0 no-repeat;
	height: 90px;
	width: 80px;
	margin-bottom: -10px;
}

.ns {
	font-size: 100px;
	display: inline-block;
}

/* ===================================Tabs===========================================*/

.link-tab {
	font-size: 25px;
	display: inline-block;
	padding: 15px 30px;
	line-height: 2;
	text-align: center;
	color: white;
}

.link-tab:hover {
	box-shadow: 0 6px 0 0 black;
}

.link-tab:active {
	margin: 6px 0px 0px 0px;
	box-shadow: inset 0px 0px 5px 0px #000;
}
.close-tab {
	font-size: 30px;
	display: inline-block;
	padding: 40px 40px;
	line-height: 1.3;
	text-align: center;
	color: white;
}

.close-tab:hover {
	box-shadow: 0 -6px 0 0 black;
	background-color: #312f2f;
}

.close-tab:active {
	margin: 6px 0px 0px 0px;
	box-shadow: inset 0px 0px 5px 0px rgb(124, 114, 114);
}

.buttons {
	text-align: center;
}
.buttons-tab1 {
	background-color: #ff0000;
}

.buttons-tab2 {
	background-color: #3700ff;
}
.buttons-tab3 {
	background-color: #442d2d;
}
.buttons-tab4 {
	background-color: #817a11;
}
.buttons-tab5 {
	background-color: #16f0de;
}
.buttons-tab6 {
	background-color: #000000;
}

.block-tab {
	padding: 20px;
	font-size: 30px;
	line-height: 1.5;
	min-height: 400px;
	display: none;
}

.block-tab:target {
	display: block;
}

.block-tab:nth-child(1) {
	background: url(../img/homerhick.png) left 0/ 200px 400px no-repeat;
}
.block-tab:nth-child(2) {
	background: url(../img/marge.png) 20% 0/600px 400px no-repeat;
}
.block-tab:nth-child(3) {
	background: url(../img/bartolomeo.png) 35%/ 400px 400px no-repeat;
}
.block-tab:nth-child(4) {
	background: url(../img/liza.png) 55% / 300px 400px no-repeat;
}
.block-tab:nth-child(5) {
	background: url(../img/meggi.png) 75% / 500px 400px no-repeat;
}

.game-homer {
	text-align: center;
}

.buttons-game {
	font-size: 25px;
	display: inline-block;
	padding: 15px 15px;
	line-height: 2;
	letter-spacing: 3px;
	color: white;
	background-color: rgb(55, 156, 46);
	margin-bottom: 10px;
}

.buttons-game:hover {
	box-shadow: 0 6px 0 0 black;
}

.buttons-game:active {
	box-shadow: inset 0px 0px 5px 0px #000;
}

.btn-figma {
	text-align: center;
}
.btn-figma-link {
	font-family: "simpsonfont";
	color: white;
	font-size: 25px;
	padding: 15px 30px;
	background-color: #3700ff;
	display: inline-block;
	text-align: center;
}

.btn-figma-link:hover::after {
	content: "» » »";
	display: inline-block;
	padding-left: 5px;
}

/* ===================================Game======================================================================*/

.opas {
	opacity: 0;
}

.game {
	margin: 0 auto;
}
.game-title {
	text-align: center;
	font-size: 60px;
	line-height: 2;
	letter-spacing: 2px;
}
.game-body {
	max-width: 1300px;
	min-height: 1100px;
	outline: 10px double #000;
	background: linear-gradient(180deg, rgba(131, 58, 180, 0) 0%, rgba(255, 255, 255, 1) 100%),
		url(../img/sky.jpg) top no-repeat;
	background-size: cover;
}

.personage1 {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.personage1:hover {
	opacity: 1;
}

.personage1::before {
	content: "Я не мешаю, нет?";
	display: inline-block;
	background-color: #ff0000;
	padding: 5px;
	color: white;
}
.personage2 {
	width: 100px;
	height: 100px;
	margin: 0 20%;
}

.personage2:hover {
	opacity: 1;
}

.personage2::before {
	content: "А я думал сова...";
	display: inline-block;
	background-color: #5600f5;
	padding: 5px;
	color: white;
}
.personage3 {
	width: 100px;
	height: 100px;
	margin: 0 70%;
}

.personage3:hover {
	opacity: 1;
}

.personage3::before {
	content: "Потанцуем?";
	display: inline-block;
	background-color: #f79c13ab;
	padding: 5px;
	color: white;
}
.personage4 {
	width: 100px;
	height: 100px;
	margin: 0 50%;
}

.personage4:hover {
	opacity: 1;
}

.personage4::before {
	content: "Пересмотри внимательно урок";
	display: inline-block;
	background-color: #f79c13ab;
	padding: 5px;
	color: white;
}
.personage5 {
	width: 150px;
	height: 150px;
	margin: 0 15%;
}

.personage5:hover {
	opacity: 1;
}

.personage5::before {
	content: "Хлоп, хлоп и снова хлоп";
	display: inline-block;
	background-color: #26e400ab;
	padding: 5px;
	color: white;
}
.personage6 {
	width: 200px;
	height: 100px;
	margin: 0 80%;
}

.personage6:hover {
	opacity: 1;
}

.personage6::before {
	content: "Шэгги не видели?";
	display: inline-block;
	background-color: #26e400ab;
	padding: 5px;
	color: white;
}
.personage7 {
	width: 200px;
	height: 150px;
	margin: 0 10%;
}

.personage7:hover {
	opacity: 1;
}

.personage7::before {
	content: "АКУНА МАТАТА тебе!)";
	display: inline-block;
	background-color: #26e400ab;
	padding: 5px;
	color: white;
}
.personage8 {
	width: 650px;
	height: 350px;
	margin: 0 auto;
}

.personage8:hover {
	opacity: 1;
}

.personage8::before {
	content: "Все, я спалился... Мардж только не говорите";
	display: inline-block;
	background-color: #26e400ab;
	font-size: 25px;
	padding: 10px;
	color: white;
}
.personage8::after {
	content: "Пошли, покажу что то";
	display: inline-block;
	background-color: #3700ff;
	padding: 10px;
}

/* =======================================================================================================*/

/* ===================================Family===============================================================================*/
.btn-back {
	display: inline-block;
	margin-bottom: 15px;
}
.btn-back-link:hover::before {
	content: "« « «";
	display: inline-block;
	padding-right: 10px;
}

.block-boks {
	font-size: 25px;
	color: #ffffff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 30px;
	line-height: 1.5;
	border: 1px solid #000;
	border-radius: 5%;
}
/* Последний блок по моей задумке должен быть прибит к футеру если что) */
.block-boks:not(:last-child) {
	margin-bottom: 50px;
}

.block-boks:hover {
	box-shadow: 3px 4px 2px black;
}

.name {
	font-family: "simpsonfont";
	color: yellow;
	margin-bottom: 40px;
	text-align: left;
	font-size: 40px;
	text-shadow: 2px 5px 3px black;
}

.name:hover {
	letter-spacing: 10px;
}

.article-container {
	max-width: 1000px;
	margin: 0 auto;
}

/* ===================================Homer===========================================*/
.section-homer {
	background: linear-gradient(180deg, rgba(131, 58, 180, 0) 0%, rgba(255, 255, 255, 1) 100%),
		url(../img/image_861903181546443414202.gif) center / cover no-repeat fixed;
}
.section-homer p:not(:last-child) {
	margin-bottom: 40px;
}
.section-homer p:nth-of-type(even) {
	background-color: #919089;
	padding: 20px;
	box-shadow: 5px 8px 2px rgb(145, 144, 137);
}

.section-homer p:nth-of-type(odd):hover {
	background-color: #2c00f0;
	padding: 20px;
	box-shadow: 5px 8px 2px rgb(8, 8, 85);
}

.homer-photo {
	width: 1000px;
	height: 500px;
}

.homer-list:not(:last-child) {
	margin-bottom: 20px;
}

.homer-list {
	max-width: 600px;
	padding: 0px 0px 0px 40px;
	display: inline-block;
}

.homer-list li:nth-child(1):hover::before {
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0px 10px 0px -30px;
	background: url(../img/little-personage/homer5.png) 0 0px / 20px no-repeat;
}
.homer-list li:nth-child(2):hover::before {
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0px 10px 0px -30px;
	background: url(../img/little-personage/homer4.png) 0 0px / 20px no-repeat;
}
.homer-list li:nth-child(3):hover::before {
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0px 10px 0px -30px;
	background: url(../img/little-personage/homer2.png) 0 0px / 20px no-repeat;
}
.homer-list li:nth-child(4):hover::before {
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0px 10px 0px -30px;
	background: url(../img/little-personage/homer3.png) 0 0px / 20px no-repeat;
}
.homer-list li:nth-child(5):hover::before {
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0px 10px 0px -30px;
	background: url(../img/little-personage/homer4.png) 0 0px / 20px no-repeat;
}
.homer-list li:nth-child(6):hover::before {
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0px 10px 0px -30px;
	background: url(../img/little-personage/homer6.png) 0 0px / 20px no-repeat;
}

.homer-list li:hover {
	background-color: #000000;
}

.homer-list li:not(:last-child) {
	margin-bottom: 10px;
}

/* ===================================Marge===========================================*/
.section-marge {
	background: linear-gradient(180deg, rgba(131, 58, 180, 0) 0%, rgba(255, 255, 255, 1) 100%),
		url(../img/marge-homer.jpg) 0 0 / cover no-repeat fixed;
	text-shadow: 2px 2px 2px black;
}
.section-marge p:not(:last-child) {
	margin-bottom: 30px;
}

.section-marge p:hover:nth-of-type(2) {
	background-color: #77edf13b;
	padding: 20px;
}

.section-marge p:nth-of-type(odd) {
	background-color: #77edf1;
	padding: 20px;
}

.marge-list {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-style: italic;
	font-size: 20px;
	max-width: 800px;
	padding: 0px 0px 0px 30px;
	color: black;
}

.marge-list li:hover {
	text-decoration: underline;
	color: white;
	cursor: pointer;
}

.marge-list:not(:last-child) {
	margin-bottom: 20px;
}

.marge-list li::before {
	content: "";
	width: 20px;
	min-height: 20px;
	display: inline-block;
	margin: 0px 10px 0px -30px;
	background-color: #ff3300;
}

.marge-list li:hover::before {
	background-color: #002fff;
}

.marge-list li:not(:last-child) {
	margin-bottom: 10px;
}

/* ===================================Bart===========================================*/

.section-bart {
	background: url(../img/bart3.png) center right / 400px 700px no-repeat;
}

.section-bart p {
	max-width: 550px;
	text-align: left;
	color: black;
	background-color: rgba(122, 146, 255, 0.349);
	padding: 20px;
}

.section-bart p:hover {
	box-shadow: 3px 5px 2px black;
	cursor: pointer;
}

.section-bart p:not(:last-child) {
	margin-bottom: 35px;
}

.bart-girlfriends {
	text-align: center;
}

.btn-bart-link {
	text-align: center;
	margin-bottom: 20px;
}

.bart-girlfriends-button {
	font-family: "simpsonfont";
	font-size: 25px;
	padding: 15px 30px;
	background-color: #3700ff;
	display: inline-block;
	text-align: center;
}

.bart-girlfriends-button:hover {
	background-color: #502ada;
	box-shadow: 0 6px 0 0 black;
}

.bart-girlfriends-button:active {
	background-color: #1305df;
	box-shadow: 0 6px 0 0 black;
	margin: 6px 0px 0px 0px;
	box-shadow: inset 0px 0px 5px 0px rgb(124, 114, 114);
}

.bart-girlfriends-images {
	display: none;
}

.bart-girlfriends-images:target {
	display: block;
}

.bart-girlfriends-images img {
	border-radius: 50%;
	overflow: hidden;
	padding: 10px;
}

/* ===================================Lisa===========================================*/

.section-lisa {
	color: black;
	background: url(../img/liza2.png) left 150px / 500px 700px no-repeat,
		url(../img/liza3.png) left 1200px / 400px 700px no-repeat;
}

.section-lisa p {
	background-color: #16f0de44;
	padding: 20px;
}

.section-lisa p:not(.list-title) {
	max-width: 500px;
	margin-left: auto;
	text-align: right;
}

.section-lisa p:hover {
	box-shadow: -3px 5px 2px black;
	cursor: pointer;
}

.section-lisa p:not(:last-child) {
	margin-bottom: 35px;
}

.list-title {
	text-align: center;
}

.list-title:hover::after {
	content: "положительные черты её характера:";
	display: inline-block;
}

.lisa-list {
	max-width: 500px;
	font-size: 30px;
}

.lisa-list:not(:last-child) {
	margin-bottom: 20px;
}

.lisa-list li:not(:last-child) {
	margin-bottom: 10px;
}

.lisa-list li:nth-child(2n + 1):hover {
	color: #002fff;
	text-decoration: underline;
}

/* ===================================Meggi===========================================*/

.section-meggi {
	background: linear-gradient(180deg, rgba(131, 58, 180, 0) 0%, rgba(255, 255, 255, 1) 100%),
		url(../img/meggi2.gif) center top / cover no-repeat fixed;
}

.section-meggi p:not(:last-child) {
	margin-bottom: 25px;
}

.section-meggi p:nth-of-type(1):target {
	background-color: rgba(15, 179, 15, 0.404);
	padding: 20px;
}
.section-meggi p:nth-of-type(2):target {
	background-color: rgba(68, 0, 255, 0.479);
	padding: 20px;
}
.section-meggi p:nth-of-type(3):target {
	background-color: green;
	padding: 20px;
}

.btn-background {
	text-align: center;
}

.background {
	display: inline-block;
	font-size: 30px;
	background-color: #22cabc50;
	padding: 15px 30px;
}

.background:hover {
	background-color: #52ecf181;
	box-shadow: 0 6px 0 0 black;
}

.background:active {
	background-color: #52ecf181;
	box-shadow: 0 6px 0 0 black;
	margin: 6px 0px 0px 0px;
	box-shadow: inset 0px 0px 5px 0px rgb(124, 114, 114);
}
/* ============================================Footer=============================================================== */

.footer {
	padding: 30px;
}

.button-link {
	text-align: center;
}

.link {
	box-shadow: 10px 8px 8px rgb(76, 36, 196);
	display: inline-block;
	padding: 15px 30px;

	text-align: center;
	color: rgb(0, 0, 0);
	letter-spacing: 2px;
	font-size: 25px;
}

.social-icon {
	text-align: center;
}

.social-icon:not(:last-child) {
	margin-bottom: 15px;
}

.icon {
	display: inline-block;
}

.icon:not(:last-child) {
	margin-right: 20px;
}

.nickname {
	text-align: center;
	font-size: 25px;
}

.arrow {
	text-align: right;
}

.arrow-up {
	display: inline-block;
}

/*==================================================================== Figma============================================================================ */

.container-figma {
	max-width: 810px;
	margin: 0 auto;
}

.maket-figma {
	font-family: Lato, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #424551;
	padding: 50px 0px;
}

.maket-figma *:last-child {
	margin-bottom: 0;
}

.createx-header {
	max-width: 300px;
	margin-bottom: 40px;
}

.createx-title {
	color: #1e212c;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.createx-subtitle {
	color: #1e212c;
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
}
.createx-list {
	max-width: 390px;
	margin-bottom: 22px;
	padding-left: 32px;
}

.createx-list li:not(:last-child) {
	margin-bottom: 12px;
}

.createx-list li::before {
	content: "";
	display: inline-block;
	width: 16px;
	min-height: 16px;
	background: url(../img/figma/check.svg) 0 0px / 16px no-repeat;
	margin: 0px 16px 0px -32px;
}

.createx-button {
	display: inline-block;
	color: white;
	background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	border-radius: 4px;
	padding: 0px 32px;
	min-height: 32px;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 3;
	margin-bottom: 50px;
}

.createx-button:hover {
	background: linear-gradient(55.95deg, #cf3e39 0%, #f8640e 100%);
}

.second-title {
	font-family: Taviraj, Arial;
	font-size: 36px;
	line-height: 111%;
	letter-spacing: 0.02em;
	color: #333333;
	margin-bottom: 20px;
}

.second-title::after {
	content: "";
	display: block;
	width: 65px;
	height: 1px;
	margin-top: 8px;
	background-color: black;
}
